asgiref==3.5.2
beautifulsoup4==4.11.1
bleach==5.0.1
crispy-bootstrap5==0.7
cssselect==1.1.0
Django==4.1.1
django-crispy-forms==1.14.0
django-debug-toolbar==3.7.0
django-summernote==0.8.20.0
lxml==4.9.1
markdown2==2.4.5
Pillow==9.2.0
pyquery==1.4.3
readtime==2.0.0
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.3
webencodings==0.5.1
