{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="row my-3">&nbsp;</div>
<div class="container">
	<span class="fs-3">Message from the Dean</span>
	<div class="row">&nbsp;</div>
	<div class="card border-0">
		<div class="row">
			<div class="col-sm-4">
				<img class="card-img-top" src="{% static 'assets/images/dean_fet.jpg' %}" style="object-fit: cover;">
			</div>
			<div class="col-sm">
				<div class="card-body">
					<span>
						{{ request.system_config.dean_message }}
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}