{% extends 'core/base_2.html' %}
{% load static %}

{% block content %}
<div class="container w-75">
	<span class="fs-3">Programmes</span>
	<div class="row">&nbsp;</div>
	<a class="text-decoration-none" href="{% url 'core:program-group-detail' %}">
		<div class="card h-100 border-0 bg-success">
			<div class="row h-100">
				<div class="col-sm">
					<img class="card-img" src="{% static 'assets/images/ub.jpg' %}" style="object-fit: cover; height: 20vh;">
				</div>
				<div class="col-sm my-auto">
					<span class="fs-3 text-light">Pre-Engineering<br>Programmes</span>
				</div>
			</div>
		</div>
	</a>
	{% for program_group in request.program_groups %}
	<div class="row">&nbsp;</div>
	<a class="text-decoration-none" href="{% url 'core:program-group-detail' program_group.slug %}">
		<div class="card h-100 border-0 bg-{{ program_group.color }}">
			<div class="row h-100">
				{% if forloop.counter|divisibleby:3 or forloop.first %}
				<div class="col-sm my-auto ps-5">
					<span class="fs-3 text-dark">{{ program_group.name }}</span>
				</div>
				<div class="col-sm">
					<img class="card-img" src="{{ program_group.image.url }}" style="object-fit: cover; height: 20vh;">
				</div>
				{% else %}
				<div class="col-sm">
					<img class="card-img" src="{{ program_group.image.url }}" style="object-fit: cover; height: 20vh;">
				</div>
				<div class="col-sm my-auto">
					<span class="fs-3 text-dark">{{ program_group.name }}</span>
				</div>
				{% endif %}
			</div>
		</div>
	</a>
	{% endfor %}
</div>
{% endblock %}